@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    max-width: 100vw;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #f97316;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ea580c;
}

::-webkit-scrollbar-track {
    background-color: #f3f4f6;
    border-radius: 4px;
}

html {
    scrollbar-color: #f97316 #f3f4f6;
}

.loader {
    width: 48px;
    height: 40px;
    margin-top: 30px;
    display: inline-block;
    position: relative;
    background: #f97316;
    border-radius: 15% 15% 35% 35%;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 45px;
    top: 8px;
    border: 4px solid #f97316;
    width: 16px;
    height: 20px;
    border-radius: 0 4px 4px 0;
}

.loader::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 10px;
    color: #f97316;
    top: -15px;
    left: 11px;
    box-sizing: border-box;
    animation: animloader 1s ease infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 2px 0px rgba(250, 204, 21, 0), 12px 0px rgba(250, 204, 21, 0.3), 20px 0px rgba(250, 204, 21, 0);
    }

    50% {
        box-shadow: 2px -5px rgba(250, 204, 21, 0.5), 12px -3px rgba(250, 204, 21, 0.5), 20px -2px rgba(250, 204, 21, 0.6);
    }

    100% {
        box-shadow: 2px -8px rgba(250, 204, 21, 0), 12px -5px rgba(250, 204, 21, 0), 20px -5px rgba(250, 204, 21, 0);
    }
}